body {
  color: var(--thm-black);
  margin: 0;
}

.parallax {
  /* The image used */
  background-image: url("/images/parallax.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Font styles */
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 16px;
}

.footer-btn {
  background-color: #c81451;
  color: #fff;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  transition: all 0.4s ease;
  margin-right: 5px;
  text-align: center;
}
.footer-btn > i {

  margin-left: -2px;
 
}

.footer-btn:hover {
  background-color: var(--thm-black);
  color: #ffffff;
}

.card {
  border: solid 0px white;
  border-radius: 15px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #c81451;
}

.search {
  border: solid 1px white;
  border-radius: 100px;
  transition: 0.2s;
  border: none;
}

.search:focus {
  transform: scale(1.03);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

.block-title-two {
  font-family: "IBMPlexSansThai", sans-serif;
}

.radius-banner{
  border-radius: 15px;
}
.radius-button{
  border-radius: 30px;
}
.header-yrc{
  background: rgb(240,135,227);
  background: linear-gradient(90deg, rgba(240,135,227,1) 0%, rgba(246,98,134,1) 100%);
  border-radius: 15px;
}
.bg-yrc{
  background-color: #e91e63;
}
.bg-director{
  background-color: #EF4982;
}
.f-pink{
  color: #e91e63;
}
.f-pink:hover{
  color: #e91e63;
}
.center-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 110px;
  transition: .2s;
  z-index: 9;
  top: 3px;
}
.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.fw-600{
  font-weight: 600;
}
.bg-card{
  background-color: #FE1B68;
}
.border-n{
  border: none;
}
.line{
  background-color: #e91e63;
  color: #e91e63;
  height: 5px;
  width: 100%;
}
.text1{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.text2{
  flex-grow:0;
}
.line2{
  flex-grow:1;
  height: 4px;
  background-color: #e91e63;
}